@model ArenaAlbionuPoradnik.Models.Place
<div class="row">
    <div class="">
        <h3>@Model.PlaceName</h3>
        <hr>
    </div>
</div>
<div class="row">
    <div>
        <p>@Model.Description</p>
    </div>
    <div>
        @if(Model.IsProductionPlace)
        {
            @Model.ProductionText
            <hr>
            if (Model.Production != null && Model.Production.Count > 0)
            {
                <table class="item-table table-hover table-striped table-bordered">
                    <th>
                        <td>Wygląd</td>
                        <td>Nazwa</td>
                        <td>Doświadczenie</td>
                        <td>Koszt</td>
                    </th>
                    @foreach (var item in Model.Production)
                    {
                    <tr>
                        <td>@{
                            var imgSrc = String.Format("data:image/gif;base64,{0}", item.Image);
                        }
                        <img src="@imgSrc" />
                        </td>
                        <td>@item.Name</td>
                        <td>@item.ProductionExperience</td>
                        <td>@item.ProductionTime</td>
                        <td>@item.ProductionCost</td>
                        <td>
                            <table>
                                <tr>
                                    @foreach (var material in item.MaterialsNeeded)
                                    {
                                        <text>
                                        @material.Name
                                        ,
                                        </text>
                                        }
                                </tr>
                            </table>
                        </td>
                    </tr>
                    }
                </table>
            }
        }
    </div>
</div>