@model ArenaAlbionuPoradnik.Models.NKingdom

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row row-no-margin header">
    <div class="">
        <h3>@Model.Name</h3>
    </div>
</div>
<div class="row row-no-margin">
    <div class="location-description">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas dapibus, libero sed placerat aliquet, nunc sem commodo orci, vitae pulvinar enim metus sit amet est. Nulla tincidunt lorem neque, ac imperdiet odio fermentum sed. Suspendisse porttitor arcu nec metus pharetra elementum. In nisl nisl, faucibus non felis vitae, suscipit fringilla turpis. Sed imperdiet laoreet orci, vel molestie dui mollis eu. Curabitur vitae justo consectetur, cursus diam quis, laoreet dolor. Donec elementum est vel eros tristique luctus. Sed tortor magna, gravida vel faucibus vitae, fringilla at felis.

            Etiam dapibus diam nec tempus ornare. Suspendisse potenti. Fusce eu massa ut augue posuere viverra. Vivamus ultricies tristique lectus, ut molestie dolor elementum at. Mauris eget varius mauris, et condimentum nisi. Nunc accumsan diam.
        </p>
    </div>
</div>
<div class="row row-no-margin">
    <div class="location-list">
        <div class="list-group">
            @foreach (ArenaAlbionuPoradnik.Models.NLocation location in Model.NLocation)
            {
            <div class="list-group-item location-panel list-item collapsable-area-gray" data-toggle="collapse" data-target="#loc_@location.Id">
                <p>
                    @location.Name
                </p>               
            </div>
            <div id="loc_@location.Id" class="collapse location-panel collapsable-content">
                <div>
                    <div class="">
                        @{
                            var imgSrc = String.Format("data:image/gif;base64,{0}", location.Map);
                            var mapName = location.Name.Replace(" ", "") + "Map";
                        }

                        <img src="@imgSrc" usemap="#@mapName"/>
                        <map name="@mapName">
                            @foreach (ArenaAlbionuPoradnik.Models.Place place in location.Place)
                            {
                                string style = "position: relative; left: " + place.TopX + "px; top: " + place.TopY + "px";
                                string coords = place.TopX + "," + place.TopY + "," + place.BottomX + "," + place.BottomY;
                                //<button style="@style">@place.PlaceName</button>
                                <area shape="rect" coords="@coords" alt="@place.PlaceName">
                            }
                        </map>
                        
                    </div>
                    <div class="">

                    </div>
                </div>
            </div>
            }
        </div>
</div>
</div>
